@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}

@custom-variant dark (&:where(.dark, .dark *));

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #c9cbd0;
  --color-secondary: oklch(0.3549 0.0415 160.45);
  --color-accent: oklch(0.9393 0.0765 160.45);
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #c9cbd0;
  --color-secondary: oklch(0.3549 0.0415 160.45);
  --color-accent: oklch(0.9393 0.0765 160.45);
}

:root {
  --background: white;
  --foreground: black;
}
.dark {
  --background: oklch(20.768% 0.039 265.754);
  --foreground: white;
}
body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  html,
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
